table, td, th{
   border: 1px solid blue;

}
td,th {
    padding: 5px;
    border-radius: 0px;
    text-align: center;
}

table {
     background-color: beige;
     border-spacing: 0px;
     
}

div{
    background-color: aquamarine;
    width: 340px;
    height: 350px;
    padding: 20px;
}

#Yoli {
    background-color: brown;
    }

.jiret {
    color: blueviolet;
    background-color: black;
}
